#antdiy {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    font-size: 14px;
    width: 97%;
}

.at_header{
  width: 100%;
  height: 75px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.at_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.at_span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #ff4d4f;
    padding: 6px 26px;
    margin-right: 50px;
    margin-left: 10px;
    border-radius: 4px;
}

.at_content{
    margin-top: 20px;
   background: #fff;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
.at_logo{
    padding-left: 20px;
}
.at_text {
    font-weight: 600;
    vertical-align: sub;

}
.at_email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #ff4d4f;
    padding: 6px 26px;
    border-radius: 4px;
    margin-right: 10px;
}
.at_email:hover {
    color: #ff4d4f;
}
.at_email img {
    width: 25px;
    vertical-align: sub;
    padding-right: 10px;
}
.at_info{
  margin: 30px 20px;
  width: 100%;
}
.at_connect{
 color: #fff;
 padding: 13px 26px;
 border-radius: 50px;
 background: #ffb654;
 height: 100%;
 margin-left: 50px;
}

.at_count{
     width: 25px;
     vertical-align: sub;
     padding-right: 10px;
}
.ant_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.ant_product{
   min-width: 200px;
       margin: 30px 20px;
       max-width: 270px;
       flex: 1 1;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ant_price2{
    position: absolute;
    bottom: 0;
    background-color: #fde3d9;
    color: #f97442;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ant_old_price{
    font-weight: 600;
        font-size: 12px;
        padding: 0 8px 0 14px;
        text-decoration: line-through;
        color: #f97442;
}
 .ant_card_img {
    position: relative;
    height: 268px;
    cursor: pointer;
}
 .ant_card_img img {
    width: 100%;
    height: 100%;
}
.ant_card_body{
position: relative;
}
.ant_card_content{
padding: 16px 24px;
}
.ant_card_meta{
width: 100%;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #202e3c;
    cursor: pointer;
}
.ant_card_wrapper{
font-weight: 600;
}

.dashicons-before img{
width: 22px;
}

